<form method="post" action="{{ path('country_delete', {'id': country.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="float: left;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ country.id) }}">
    <button class="btn btn-danger btn-sm">Sil</button>
</form>
