{% extends 'Admin/layouts/main.html.twig' %}

{% block title %}Edit Country{% endblock %}

{% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Ülke Düzenle: {{ country.name }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a href="{{ path('country_index') }}">Ülkeler</a></li>
            <li class="active">Ülke Düzenle</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-body">
            {{ include('Admin/country/_form.html.twig', {'button_label': 'Güncelle'}) }}
        </div>
    </div>
{% endblock %}
