{% extends 'Admin/layouts/main.html.twig' %}

{% block title %}Country index{% endblock %}

{% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Ülke Ayarları
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li class="active">Ülke Ayarları</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Ülke Kodu</th>
                    <th>Üç Harf Ülke Kodu</th>
                    <th>Ad</th>
                    <th>Alan Kodu</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for country in countries %}
                    <tr>
                        <td>{{ country.id }}</td>
                        <td>{{ country.binaryAreaCode }}</td>
                        <td>{{ country.tripleAreaCode }}</td>
                        <td>{{ country.name }}</td>
                        <td>{{ country.phoneAreaCode }}</td>
                        <td style="width: 140px">
                            <div class="input-group">
                                <a href="{{ path('country_edit', {'id': country.id}) }}" class="btn btn-success btn-sm" style="margin-right: 7px; float: left">Düzenle</a>
                                {{ include('Admin/country/_delete_form.html.twig') }}
                            </div>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <a href="{{ path('country_new') }}">Create new</a>
{% endblock %}
