{% extends 'Admin/layouts/main.html.twig' %}

{% block title %}Country{% endblock %}

{% block content %}
    <h1>Country</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ country.id }}</td>
            </tr>
            <tr>
                <th>BinaryAreaCode</th>
                <td>{{ country.binaryAreaCode }}</td>
            </tr>
            <tr>
                <th>TripleAreaCode</th>
                <td>{{ country.tripleAreaCode }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ country.name }}</td>
            </tr>
            <tr>
                <th>PhoneAreaCode</th>
                <td>{{ country.phoneAreaCode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('country_index') }}">back to list</a>

    <a href="{{ path('country_edit', {'id': country.id}) }}">edit</a>

    {{ include('Admin/country/_delete_form.html.twig') }}
{% endblock %}
