<form method="post" action="{{ path('city_delete', {'id': city.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="float: left;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ city.id) }}">
    <button class="btn btn-danger btn-sm">Sil</button>
</form>
