{% extends 'Admin/layouts/main.html.twig' %}

{% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            İl Ayarları
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li class="active">İl Ayarları</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <a href="{{ path('city_new') }}" class="btn btn-success pull-right right">Yeni Oluştur</a>
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>İl</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for city in cities %}
                        <tr>
                            <td>{{ city.id }}</td>
                            <td>{{ city.name }}</td>
                            <td style="width: 140px">
                                <div class="input-group">
                                    <a href="{{ path('city_edit', {'id': city.id}) }}" class="btn btn-success btn-sm" style="margin-right: 7px; float: left">Düzenle</a>
                                    {{ include('Admin/city/_delete_form.html.twig') }}
                                </div>

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
