{% extends 'Admin/layouts/main.html.twig' %}

{% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Yeni İl Ekle
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a href="{{ path('city_index') }}">İller</a></li>
            <li class="active">İl Ekle</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-body">
            {{ include('Admin/city/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
