{% extends 'Admin/layouts/main.html.twig' %}


{% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Kullanıcı Düzenle: {{ customer.email }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
            <li><a href="{{ path('customer_index') }}">Kullanıcılar</a></li>
            <li class="active">Kullanıcı Düzenle</li>
        </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="box">
        {{ form_start(form) }}

        <div class="box-body">

            <div class="form-group">
                {{ form_row(form.type, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.firstName, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.lastName, {'attr': {'class': 'form-control'}}) }}
            </div>

            {{ form_row(form.save) }}
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}