{% extends 'Admin/layouts/main.html.twig' %}

{% block title %}Country index{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-body">
            <div id="datatable"></div>
        </div>
    </div>

{% endblock %}

{% block inline_js %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>

    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $('#datatable').initDataTables({{ datatable_settings(datatable) }});
        });
    </script>
{% endblock %}